/changelog_en.md
/README_en.md
/languages/EN_us
/dev
/templogs
/languages/*/script_general_config.bat
/Autopublish.bat.lng
/Autopublish.bat.theme
/Autopublish.log
/tools/profiles
/tools/PortableGit
/tools/git_installer/PortableGit-32-bit.7z.exe